body 
{
	background: #FCFbF9;
	color: #6C6262;

}

#form, .emails {
	background: #FDFCFA;
	-moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.07);

}

input[type=submit] {
	background: #594360;

}

input[type=email], input[type=text] {
	border: 1px solid #DDD;
	background: #FFF;
	color: #6C6262;

}

#footer{
  background: #594360;
}

a:link, a:visited, a:active {
	color: #6C6262;
}
a:hover {
	color: #594360;
}
#footer a:link, #footer a:visited, #footer a:active{
        color: #FFF;
}
#footer a:hover {
        color:#DFDFDF;
}

.errorlist {
	color: #FF0066;
}
