 Here's a list of all the emails that will be sent out with this campaign
<h1>{{ campaign.name }}</h1>
{{ campaign.description }}
<br /><br />
<a href="{% url 'campaigns:campaign' campaign.slug %}">Subscribe</a>

<br /><br />
{% for email in emails %}
<div style="border:1px solid black;width:70%;padding:20px;">
	<b>Subject:</b> {{ email.subject }}
	<br />
	<b>Send date:</b> {{ email.send_date }}
	<br />
	<hr>
	{% autoescape off %}{{ email.content }}{% endautoescape %}
</div>
<br/ ><br />
{% endfor %}
