<!DOCTYPE html>
<html>
{% load static  %}

<head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL}}css/{{ campaign_slug }}_colors.css" rel="stylesheet" type="text/css">
    <title>Send Test Email</title>

</head>
	<body>
	<div id='logo'>
		<a href="{% url 'campaigns:campaign' campaign_slug %}">
			<img src="{{ STATIC_URL}}images/{{ campaign_slug }}_logo.png" />
		</a>
	</div>
	<div class='centered'>
		Following test email sent to:
		<h2>{{ email_address }}</h2>
	</div>
	
	<div class="emails">	
		<b>Subject:</b> {{ email.subject }}
		<br />
		<hr>
		{% autoescape off %}
		{% if body %}
			{{ body }}
		{% else %}
			{{ email.content }}
		{% endif %}
		{% endautoescape %}
	</div>
	<div id="footer">
		Brought to you by the makers of Boomerang for Gmail, Boomerang Calendar, Inbox Pause, Boomerang for Android, Boomerang for Outlook and whatever else we make.
	</div>
</body>
</html>
