<div id="footer">

Brought to you by the makers of <a href="http://www.boomeranggmail.com/?utm_source=myreminders&utm_medium=website&utm_campaign={{campaign.slug}}">Boomerang for Gmail</a>, <a href="http://www.boomerangcalendar.com/?utm_source=myreminders&utm_medium=website&utm_campaign={{campaign.slug}}">Boomerang Calendar</a>, <a href="http://inboxpause.com/?utm_source=myreminders&utm_medium=website&utm_campaign={{campaign.slug}}">Inbox Pause</a>, <a href="http://www.boomeranggmail.com/android/?utm_source=myreminders&utm_medium=website&utm_campaign={{campaign.slug}}">Boomerang for Android</a> and <a href="http://www.baydin.com/boomerang/?utm_source=myreminders&utm_medium=website&utm_campaign={{campaign.slug}}">Boomerang for Outlook</a>

</div>
