<!DOCTYPE html>
<html>

{% load static  %}

<head>
<meta name="description" content="{{ meta }}">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL}}css/{{ campaign.slug }}_colors.css" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{analytics}}', 'auto');
  ga('send', 'pageview');

</script>
</head>
	<body>
	<div id='logo'>
		<a href="{% url 'campaigns:campaign' campaign.slug %}">
			<img src="{{ STATIC_URL}}images/{{ campaign.slug }}_logo.png" />
		</a>
	</div>
	<div class='text'>
		{% autoescape off %}{{ campaign.overview }}{% endautoescape %}
	</div>
	<!--
	This commeneted out section is for displaying all the emails' content.

	<p class='text'>
		{{ campaign.description }}
	</p>
	<p class='centered'
		<a href="{% url 'campaigns:campaign' campaign.slug %}">Subscribe</a>
	</p>
	{% for email in emails %}
		<div class="emails">	
			<b>Subject:</b> {{ email.subject }}
			<br />
			<b>Send date:</b>
			{{ email.send_date }}
			<br />
			<hr>
			{% autoescape off %}{{ email.content }}{% endautoescape %}
		</div>
	{% endfor %}
	-->
	{% include "campaigns/footer.html" %}

</body>
</html>
