<!DOCTYPE html>
<html>
{% load static  %}

<head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL}}css/{{ campaign.slug }}_colors.css" rel="stylesheet" type="text/css">
    	<title>{{ campaign.name }}</title>
</head>
<body>

	<div id='logo'>
		<a href="{% url 'campaigns:campaign' campaign.slug %}">
			<img src="{{ STATIC_URL}}images/{{ campaign.slug }}_logo.png" />
		</a>
	</div>
	<div class='text'>
		{% autoescape off %}{{ description_text }}{% endautoescape %}
	</div>
	<!--
	<p class="centered">
		<a href="{% url 'campaigns:overview' campaign.slug %}">What emails will I be recieving?</a>
	</p>
	-->
	<div id="form">
		<form action="" method='post'>{% csrf_token %}
		{% if form.name %}
	            <div class='field'>
	            <div class="label">
	            <label for="id_name">First Name:</label>
	            </div>{{ form.name }}
	            {{ form.name.errors }}
	            </div>
		{% endif %}
		{% if form.email_address %}
	            <div class="label">
	            {{ form.email_address.label_tag }}
	            </div>{{ form.email_address }}
	            {{ form.email_address.errors }}
		{% endif %}
		{% if form.confirm_email %}
	            <div class="label">
	            {{ form.confirm_email.label_tag }}
	            </div>{{ form.confirm_email }}
	            {{ form.confirm_email.errors }}
		{% endif %}
		{% if form.deadline %}
	            <div class="label">
	            <span class='deadline_label'>{{ campaign.deadline_name }}</span>
	            </div>{{ form.deadline }}<br />
	            {{ form.deadline.errors }}<br />
		{% endif %}

		<div id ='options'>
		{% if form.options %}

			{% if  form.options.field.choices|length > 0 %}
				{{ campaign.options_question }}<br />
	            {{ form.options.errors }}
	            <table>
	            {{form.options}}
	            </table>
			
			{% endif %}
		{% endif %}
		</div>
		<input type="hidden" name="timezone" id="timezone">
		<input type='submit' value='Sign me up!' />
		</form>
	</div>

	<div id="footer">
		Brought to you by the makers of <a href="http://www.boomeranggmail.com/">Boomerang for Gmail</a>, <a href="http://boomerangcalendar.com/">Boomerang Calendar</a>, <a href="http://inboxpause.com">Inbox Pause</a>, <a href="http://www.boomeranggmail.com/android/">Boomerang for Android</a> and <a href="http://www.baydin.com/boomerang/">Boomerang for Outlook</a>
	</div>
</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js">
</script>
<script type="text/javascript">
window.onload = function(){
	document.getElementById("timezone").value = jstz.determine().name();  
}
</script>
</html>
