<!DOCTYPE html>
<html>

{% load static  %}

<head>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL}}css/{{ campaign.slug }}_colors.css" rel="stylesheet" type="text/css">
    <title>{{ campaign.name }}</title>

</head>
<body>

	<div id='logo'>
		<a href="{% url 'campaigns:campaign' campaign.slug %}">
			<img src="{{ STATIC_URL}}images/{{ campaign.slug }}_logo.png" />
		</a>
	</div>
	<p class='centered'>
		Hey, {{ subscriber.name }}!
	</p>
	<p class='centered'>
		Your email address, {{ subscriber.email_address }}, is currently subscribed to {{campaign.name}}.
	</p>
		<!--
		<ul>
		{% for subscription in subscriptions %}
			<li>{{ subscription.subscription }}</li>
		{% endfor %}
		</ul>
		-->
	<p class='centered'>
		Click below to unsubscribe from these reminders.
	</p>
	<form action="" method='post'>{% csrf_token %}
		<p class='centered'>
			<input type='submit' value='Unsubscribe' />
		</p>
	</form>
	<div id="footer">
	Brought to you by the makers of <a href="http://www.boomeranggmail.com/">Boomerang for Gmail</a>, <a href="http://boomerangcalendar.com/">Boomerang Calendar</a>, <a href="http://inboxpause.com">Inbox Pause</a>, <a href="http://www.boomeranggmail.com/android/">Boomerang for Android</a> and <a href="http://www.baydin.com/boomerang/">Boomerang for Outlook</a>

	</div>
</body>
</html>
